@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$very-dark-grey: #18171f;
$dark-grey: #24232c;
$grey: #817d92;
$light-grey: #e6e5ea;
$green: #a4ffaf;
$red: #f64a4a;
$orange: #fb7c58;
$yellow: #f8cd65;

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: $very-dark-grey;
  color: $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  margin: 0 1rem;
}

h1 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  color: $grey;
  margin-bottom: 1rem;
}

.result {
  position: relative;
  margin-bottom: 1rem;

  .password {
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $light-grey;
    border: none;
    padding: 1rem;
    background-color: $dark-grey;
  }

  .copy {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);

    svg {
      fill: $green;

      &:hover {
        cursor: pointer;
        fill: #fff;
      }
    }
  }
}

form {
  background-color: $dark-grey;
  padding: 1rem;

  label {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3rem;
    color: $light-grey;
    margin-left: 2.5rem;
  }

  .character-length {
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      margin-left: 0;

      span {
        &:last-child {
          font-size: 1.5rem;
          line-height: 2rem;
          color: $green;
        }
      }
    }

    .slider {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 0.5rem;
      background-color: $very-dark-grey;
      margin-bottom: 2.5rem;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        border: 2px solid $light-grey;
        background-color: $light-grey;

        &:hover {
          cursor: pointer;
          background-color: $very-dark-grey;
          border-color: $green;
        }
      }

      &::-moz-range-thumb {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        border: 2px solid $light-grey;
        background-color: $light-grey;

        &:hover {
          cursor: pointer;
          background-color: $very-dark-grey;
          border-color: $green;
        }
      }
    }
  }

  div {
    position: relative;
    margin-bottom: 1rem;

    &:first-child {
      margin-bottom: 0;
    }
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: $green;
      border-color: $green;

      &::after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    border: 2px solid $light-grey;
    transition: all 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 5px;
      top: 2px;
      width: 6px;
      height: 12px;
      border: solid $very-dark-grey;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }

    &:hover {
      cursor: pointer;
      border-color: $green;
    }
  }

  .strength {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    padding: 1rem;
    background-color: $very-dark-grey;

    p {
      color: $grey;
    }

    div {
      display: flex;
      align-items: center;
      color: $light-grey;
      margin-bottom: 0;

      p {
        display: flex;
        height: 1.75rem;

        span {
          height: 1.75rem;
          width: 0.625rem;
          border: 2px solid $light-grey;
          margin-left: 0.5rem;

          &:first-child {
            margin-left: 1rem;
          }
        }
      }

      &.too-weak {
        span:first-child {
          border: none;
          background-color: $red;
        }
      }

      &.weak {
        span:first-child,
        span:nth-child(2) {
          border: none;
          background-color: $orange;
        }
      }
      &.medium {
        span:first-child,
        span:nth-child(2),
        span:nth-child(3) {
          border: none;
          background-color: $yellow;
        }
      }
      &.strong {
        span {
          border: none;
          background-color: $green;
        }
      }
    }
  }

  button {
    width: 100%;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    color: $dark-grey;
    height: 3.5rem;
    background-color: $green;

    svg {
      margin-left: 1rem;
      fill: $dark-grey;
    }

    &:hover {
      cursor: pointer;
      border: 2px solid $green;
      background-color: $dark-grey;
      color: $green;

      svg {
        fill: $green;
      }
    }
  }
}
